<div class="face-snap-card" [ngClass]="{ snapped: butonContenu === 'Oops, unsnap'}">
    <h2>{{faceSnap.title}}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location}}</p>
    <p>{{faceSnap.description}}</p>
    <p>Mise en ligne le {{faceSnap.dateCreation}}</p>
    <p>
        <button (click)="onSnap()">{{ butonContenu }} !</button>
       <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps*255 + ' ,0)'}"> >> {{ faceSnap.snaps }}</span>
    </p>
</div>